{% extends "../main.twig" %}

{% block main %}
	<main class="page-error">
		<div class="page-error__container">
			<h1 class="page-error__title">404</h1>
			<p class="page-error__description">Страница не найдена</p>
		</div>
	</main>
{% endblock %}
