{% extends "../main.twig" %}

{% block main %}
	<main class="page__main page__main--nojs main-container">
		<h1 class="head-title head-title--main">
			Милые штуки ручной<br>
			работы для дома
		</h1>

		<section class="hero">
			<h2 class="visually-hidden">Меню предлагаемой продукции.</h2>
			<ul class="hero__list categories-list">
				<li class="categories-list__item">
					<a class="categories-list__link" href="#!">
						<span class="categories-list__text">
							Предметы<br>
							интерьера
						</span>
						<svg class="categories-list__icon" aria-hidden="true" focusable="false" width="40" height="62" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="img/sprite.svg#interior"/>
						</svg>
					</a>
				</li>
				<li class="categories-list__item categories-list__item--alter">
					<a class="categories-list__link" href="#!">
						<span class="categories-list__text">
							Детские<br>
							игрушки
						</span>
						<svg class="categories-list__icon" aria-hidden="true" focusable="false" width="60" height="60" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="img/sprite.svg#toy"/>
						</svg>
					</a>
				</li>
			</ul>
		</section>

		<section class="week-product">
			<div class="product-card">
				<div class="product-card__block">
					<h2 class="product-card__title second-title">Вязаные корзинки</h2>
					<p class="product-card__text">Товар недели</p>
				</div>
				<p class="product-card__description">
					Экологически чистая пряжа,<br>
					ручная работа. Доступны в шести расцветках и трёх размерах.
				</p>
				<dl class="product-card__list parameter-list">
					<dt class="parameter-list__option">Цвет:</dt>
					<dd class="parameter-list__option">тиффани/серый</dd>
					<dt class="parameter-list__option">Диаметр:</dt>
					<dd class="parameter-list__option">25 см</dd>
					<dt class="parameter-list__option">Высота:</dt>
					<dd class="parameter-list__option">15 см</dd>
				</dl>
				<div class="product-card__picture">
					<picture>
						<source type="image/webp" srcset="img/baskets.webp, img/baskets@2x.webp 2x">
						<img class="product-card__image" src="img/baskets.jpg" srcset="img/baskets@2x.jpg 2x" width="260" height="315" alt="Вязанные корзинки.">
					</picture>
				</div>
				<b class="product-card__price">Цена: 990 руб.</b>
				<button class="product-card__button button" type="button">Заказать</button>
			</div>
		</section>

		<section class="about">
			<h2 class="about__title second-title">Коротко о нас:</h2>
			<ul class="about__list">
				<li class="about__item about__item--flower">
					Экологически<br>
					чистые материалы
				</li>
				<li class="about__item about__item--banknote">
					Скандинавский стиль<br>
					по российской цене
				</li>
				<li class="about__item about__item--heart">
					Увеличивает лайки<br>
					на фотографиях
				</li>
				<li class="about__item about__item--tangle">
					Связано вручную<br>
					с любовью и умилением
				</li>
				<li class="about__item about__item--rocket">
					Поддержка отечественного<br>
					производителя
				</li>
				<li class="about__item about__item--packaging">
					Поставляется<br>
					в подарочной упаковке
				</li>
			</ul>
		</section>

		<section class="reviews">
			<h2 class="reviews__title second-title">Отзывы</h2>
			<ul class="reviews__list reviews-list">
				<li class="reviews-list__item">
					<p class="reviews-list__description">
						Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как
						у&nbsp;популярных инстамамочек. В&nbsp;отчаянии, я накупила аксессуаров и игрушек в Мишке,
						и&nbsp;мои фотографии сразу стали более стильными, а также	набирают больше лайков!
					</p>
					<p class="reviews-list__author">
						<span class="reviews-list__name">Анастасия Красильникова</span>
						<a class="reviews-list__link" href="#!">@misssssiskras</a>
					</p>
					<div class="reviews-list__button">
						<button class="arrow arrow--left" type="button">
							<span class="visually-hidden">Предыдущий отзыв.</span>
							<svg class="arrow__icon" aria-hidden="true" focusable="false" width="50" height="26" xmlns="http://www.w3.org/2000/svg">
								<use xlink:href="img/sprite.svg#arrow-left"/>
							</svg>
						</button>
						<button class="arrow arrow--right" type="button">
							<span class="visually-hidden">Следующий отзыв.</span>
							<svg class="arrow__icon" aria-hidden="true" focusable="false" width="50" height="26" xmlns="http://www.w3.org/2000/svg">
								<use xlink:href="img/sprite.svg#arrow-right"/>
							</svg>
						</button>
					</div>
				</li>
			</ul>
			<a class="reviews__link reviews__link--write" href="!#">Написать</a>
		</section>

		<section class="contacts">
			<h2 class="contacts__title second-title">Контакты</h2>
			<dl class="contacts__list contact-list">
				<div class="contact-list__block">
					<dt class="contact-list__parameter">e-mail:</dt>
					<dd class="contact-list__meaning">
						<a class="contact-list__link" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
					</dd>
				</div>
				<div class="contact-list__block">
					<dt class="contact-list__parameter">адрес:</dt>
					<dd class="contact-list__meaning">
						г. Санкт-Петербург<br>
						ул. Большая Конюшенная<br>
						д. 19/8, офис 101
					</dd>
				</div>
			</dl>
			<div class="contacts__map">
				<iframe src="https://yandex.ru/maps/2/saint-petersburg/house/bolshaya_konyushennaya_ulitsa_19_8/Z0kYdQVjSEQPQFtjfXVyeXpgYQ==/?ll=30.325710%2C59.938730&utm_source=main_stripe_big&z=17.1"
				width="768"
        height="457"
        allowfullscreen
        title="Офис компании по адресу Большая Конюшенная, д. 19/8, Санкт-Петербург">
				</iframe>
			</div>
			<button class="contacts__button button" type="button">Напишите нам</button>
		</section>
	</main>
{% endblock %}
