{% extends "../main.twig" %}

{% block main %}
	<main class="main-container">
    <h1 class="head-title head-title--main">Милые штуки ручной работы для дома</h1>
   	<section class="hero">
      <ul class="hero__list product-list">
        <li class="product-list__item">
          <a class="product-list__link" href="#!">Новые поступления</a>
        </li>
        <li class="product-list__item">
          <a class="product-list__link" href="#!">Распродажа</a>
        </li>
      </ul>
      <a class="hero__link" href="#!">Бесплатная доставка по России</a>
      <ul class="hero__list categories-list">
        <li class="categories-list__item">
          <a class="categories-list__link" href="#!">
            <span class="categories-list__text">Предметы<br> интерьера</span>
          </a>
        </li>
        <li class="categories-list__item">
          <a class="categories-list__link" href="#!">
            <span class="categories-list__text">Детские<br> игрушки</span>
          </a>
        </li>
      </ul>
    </section>
   	<section class="week-product">
      <div class="product-card">
        <h2 class="product-card__title second-title">Вязаные корзинки</h2>
        <p class="product-card__text">Товар недели</p>
        <p class="product-card__description">
          Экологически чистая пряжа,<br> ручная работа. Доступны в шести расцветках и трёх размерах.
        </p>
        <ul class="product-card__list">
          <li class="product-card__item">
            <span class="product-card__information">Цвет:</span>
            <span class="product-card__information">тиффани/серый</span>
          </li>
          <li class="product-card__item">
            <span class="product-card__information">Диаметр:</span>
            <span class="product-card__information">25 см</span>
          </li>
          <li class="product-card__item">
            <span class="product-card__information">Высота:</span>
            <span class="product-card__information">15см</span>
          </li>
        </ul>
        <img class="product-card__image" src="./img/baskets.jpg" width="260" height="315" alt="Вязанные корзинки.">
        <p class="product-card__price"><b>Цена: 990 руб.</b></p>
        <button class="product-card__button button" type="button">Заказать</button>
      </div>
    </section>
   	<section class="about">
      <h2 class="about__title second-title">Коротко о нас:</h2>
      <ul class="about__list">
        <li class="about__item">Экологически<br> чистые материалы</li>
        <li class="about__item">Скандинавский стиль<br> по российской цене</li>
        <li class="about__item">Увеличивает лайки<br> на фотографиях</li>
        <li class="about__item">Связано вручную<br> с любовью и умилением</li>
        <li class="about__item">Поддержка отечественного производителя</li>
        <li class="about__item">Поставляется<br> в подарочной упаковке</li>
      </ul>
    </section>
   	<section class="reviews">
      <h2 class="reviews__title second-title">Отзывы</h2>
      <ul class="reviews__list">
        <li class="reviews__item">
          <p class="reviews__description">
            Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как<br> у популярных инстамамочек.<br>
            В отчаянии, я накупила<br> аксессуаров и игрушек в Мишке,<br> и мои фотографии сразу стали более стильными, а также<br> набирают больше лайков!
          </p>
          <p class="reviews__author">
            Анастасия Красильникова
            <a class="reviews__link" href="#!">@misssssiskras</a>
          </p>
        </li>
      </ul>
      <button class="reviews__button arrow" type="button">
        <span class="visually-hidden">Предыдущий отзыв.</span>
      </button>
      <button class="reviews__button arrow" type="button">
        <span class="visually-hidden">Следующий отзыв.</span>
      </button>
      <a class="reviews__link reviews__link--write" href="!#">Написать</a>
    </section>
   	<section class="contacts">
      <h2 class="contacts__title second-title">Контакты</h2>
      <dl class="contacts__list">
        <dt class="contacts__parameter">e-mail:</dt>
				<dd class="contacts__meaning">
        	<a class="contacts__link" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
				</dd>
        <dt class="contacts__parameter">адрес:</dt>
        <dd class="contacts__meaning">г. Санкт-Петербург <br>ул. Большая Конюшенная <br>д. 19/8, офис 101</dd>
      </dl>
			<div class="contacts__map">
      	<img class="contacts__сoordinates" src="./img/map.jpg" width="320" height="455" alt="Место положения на карте.">
			</div>
      <button class="contacts__button button" type="button">Напишите нам</button>
    </section>
  </main>
{% endblock %}
