.arrow {
  position: relative;
  padding: 12px 43px 9px 37px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.arrow::after {
  position: absolute;
  content: "";
  top: 0;
  right: -1px;
  width: 1px;
  height: 50px;
  background-color: #ececec;
  background-repeat: no-repeat;
  background-position: center;
}
.arrow__icon:hover {
  color: rgba(0, 0, 0, 0.6);
}
.arrow__icon:active {
  color: rgba(0, 0, 0, 0.3);
}
.about {
  display: grid;
  padding: 32px calc(50% - 130px) 15px;
  box-sizing: border-box;
}
.about__title {
  margin: 0 0 24px;
}
.about__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.about__item {
  position: relative;
  padding: 58px 10px 25px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
.about__item::before {
  content: "";
  position: absolute;
  background-color: #63d1bb;
  background-position: center;
  background-repeat: no-repeat;
}
.about__item--flower::before {
  top: 3px;
  left: 8px;
  width: 33px;
  height: 38px;
  -webkit-mask-image: url("../img/sprite.svg#flower");
          mask-image: url("../img/sprite.svg#flower");
}
.about__item--banknote::before {
  top: 4px;
  left: 0;
  width: 47px;
  height: 28px;
  -webkit-mask-image: url("../img/sprite.svg#banknote");
          mask-image: url("../img/sprite.svg#banknote");
}
.about__item--heart::before {
  top: 9px;
  left: 7px;
  width: 34px;
  height: 27px;
  -webkit-mask-image: url("../img/sprite.svg#heart");
          mask-image: url("../img/sprite.svg#heart");
}
.about__item--tangle::before {
  top: 6px;
  left: 3px;
  width: 35px;
  height: 34px;
  -webkit-mask-image: url("../img/sprite.svg#tangle");
          mask-image: url("../img/sprite.svg#tangle");
}
.about__item--rocket::before {
  top: 7px;
  left: -6px;
  width: 55px;
  height: 23px;
  -webkit-mask-image: url("../img/sprite.svg#rocket");
          mask-image: url("../img/sprite.svg#rocket");
}
.about__item--packaging::before {
  top: 5px;
  left: 3px;
  width: 33px;
  height: 32px;
  -webkit-mask-image: url("../img/sprite.svg#packaging");
          mask-image: url("../img/sprite.svg#packaging");
}
.button {
  padding: 16px 10px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  background-color: inherit;
  border: 2px solid #444444;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover {
  color: #ffffff;
  background-color: #444444;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--secondary {
  padding: 18px;
  line-height: 16px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}
.button--arrow {
  border: 1px solid #ececec;
}
.button--arrow:hover {
  background-color: #ffffff;
}
.button--cart {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
}
.card-product {
  display: grid;
  gap: 29px;
}
.card-product__item {
  border: 1px solid #ececec;
}
.card-product__link {
  display: block;
}
.card-product__purchase {
  padding: 28px 28px 24px;
  box-sizing: border-box;
}
.card-product__purchase:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.card-product__purchase:hover .card-product__title {
  color: rgba(0, 0, 0, 0.6);
}
.card-product__purchase:hover .price-block__icon {
  color: #63d1bb;
}
.card-product__purchase:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.card-product__purchase:active .card-product__title {
  color: rgba(0, 0, 0, 0.3);
}
.card-product__purchase:active .price-block__icon {
  color: rgba(99, 209, 187, 0.3);
}
.card-product__title {
  margin: 0 0 6px;
  font-size: 17px;
}
.card-product__info {
  margin: 0 0 18px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
.catalog {
  margin: 0 auto;
  padding: 29px 30px 20px;
  width: 320px;
  box-sizing: border-box;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.categories-list {
  display: grid;
  box-sizing: border-box;
}
.categories-list__item {
  background-color: #63d1bb;
}
.categories-list__link {
  position: relative;
  display: flex;
  padding: 24px calc(50% - 130px) 19px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  background-color: #63d1bb;
  color: #ffffff;
  box-sizing: border-box;
}
.categories-list__link:hover {
  top: -5px;
}
.categories-list__link:hover .categories-list__icon {
  color: rgba(20, 144, 128, 0.7);
}
.categories-list__link:active .categories-list__icon {
  color: rgba(20, 144, 128, 0.3);
}
.categories-list__icon {
  margin-left: auto;
  margin-right: -4px;
  width: 62px;
  height: 60px;
  color: #149080;
}
.contacts {
  display: grid;
  padding: 38px calc(50% - 130px) 39px;
  box-sizing: border-box;
}
.contacts__title {
  position: relative;
  margin: 0 0 27px;
}
.contacts__map {
  margin-right: -30px;
  margin-bottom: 42px;
  margin-left: -30px;
  width: calc(100% + 60px);
  height: 454px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.contacts__button {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 20px;
}
.contact-list {
  margin: 0 0 34px;
  padding: 0;
  list-style-type: none;
}
.contact-list__block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
.contact-list__meaning {
  margin-left: 32px;
}
.contact-list__link {
  position: relative;
  display: block;
  border-bottom: 1px solid #62d1ba;
}
.contact-list__link:hover {
  color: #46c1ae;
  border-bottom: 1px solid #46c1ae;
}
.contact-list__link:active {
  border-bottom: 1px solid rgba(70, 193, 174, 0.1);
}
.form-block {
  position: relative;
  display: grid;
  margin: 0;
  padding: 0;
  border: none;
}
.form-block--radio {
  row-gap: 11px;
  margin-bottom: 32px;
}
.form-block--radio .form-block__name {
  margin-bottom: 33px;
}
.form-block--checkbox {
  row-gap: 23px;
  margin-bottom: 33px;
}
.form-block--checkbox .form-block__name {
  margin-bottom: 25px;
}
.form-block--name {
  gap: 22px;
  margin-bottom: 33px;
}
.form-block--name .form-block__name {
  margin-bottom: 29px;
}
.form-block--phone {
  margin-bottom: 33px;
}
.form-block--phone .form-block__name {
  margin-bottom: 5px;
}
.form-block--phone .form-block__control {
  background-color: inherit;
  border-bottom: none;
  box-sizing: border-box;
}
.form-block--phone .form-block__icon:hover {
  color: #62d1ba;
}
.form-block--email {
  margin-bottom: 35px;
}
.form-block--email .form-block__name {
  margin-bottom: 5px;
}
.form-block--email .form-block__name::after {
  left: 78px;
  width: 182px;
}
.form-block--email .form-block__control {
  border-bottom: none;
  box-sizing: border-box;
}
.form-block--textarea {
  margin-bottom: 17px;
}
.form-block--textarea .form-block__name {
  padding: 0;
  margin-bottom: 22px;
}
.form-block--textarea .form-block__control {
  margin-bottom: 0;
  padding: 15px 15px;
  min-height: 142px;
  border: 2px solid #444444;
  box-sizing: border-box;
}
.form-block__name {
  position: relative;
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}
.form-block__name::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 60px;
  width: 200px;
  right: 0;
  height: 1px;
  background-color: #62d1ba;
}
.form-block__block {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000000;
}
.form-block__block:hover {
  border-color: #62d1ba;
}
.form-block__block:hover .form-block__icon {
  color: #62d1ba;
}
.form-block__icon {
  align-self: center;
  width: 40px;
}
.form-block__label {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
}
.form-block__label--control {
  flex-direction: column;
  align-items: flex-start;
}
.form-block__checker {
  position: relative;
  flex-shrink: 0;
  margin: 0 20px 0 0;
  color: inherit;
  border: 2px solid #444444;
  -webkit-appearance: none;
          appearance: none;
  outline-offset: inherit;
}
.form-block__checker:hover {
  border-color: #62d1ba;
}
.form-block__checker:active {
  border-color: rgba(0, 0, 0, 0.3);
}
.form-block__checker::before,
.form-block__checker::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: inherit;
  transition: opacity 0.2s ease-in-out;
}
.form-block__checker::before {
  background-color: #ffffff;
}
.form-block__checker::after {
  background-color: #62d1ba;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  opacity: 0;
}
.form-block__checker:checked::after {
  opacity: 1;
}
.form-block__checker[type="radio"] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.form-block__checker[type="radio"]::after {
  width: 17px;
  -webkit-mask: url("../img/sprite.svg#point") no-repeat center / 100%;
          mask: url("../img/sprite.svg#point") no-repeat center / 100%;
}
.form-block__checker[type="checkbox"] {
  width: 38px;
  height: 38px;
  margin-right: 23px;
}
.form-block__checker[type="checkbox"]::after {
  width: 24px;
  background-color: #000000;
  -webkit-mask: url("../img/sprite.svg#tick") no-repeat center / 100%;
          mask: url("../img/sprite.svg#tick") no-repeat center / 100%;
}
.form-block__control {
  width: 100%;
  padding: 16px 0;
  font-family: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #000000;
}
.form-block__control:hover {
  border-color: #62d1ba;
}
.form-block__control:active {
  border-color: #62d1ba;
}
.form-block__control:focus-visible {
  border-color: #62d1ba;
  outline: none;
}
.form-block__control::placeholder {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.form-block__control::placeholder:active {
  color: #444444;
}
.form {
  display: grid;
}
.form__text {
  margin: 0 0 29px;
  font-size: 13px;
  color: #444444;
}
.form__footer {
  display: flex;
  flex-direction: column;
}
.form__footnote {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
.form__button {
  padding: 14px;
}
.head-title {
  margin: 0;
  padding: 71px 30px 76px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
.head-title--main {
  padding: 71px calc(50% - 130px) 76px;
  min-height: 135px;
  background-color: #f9f9f9;
  background-image: url("../img/bg-main.jpg");
  background-position: center bottom -74px;
  background-repeat: no-repeat;
  background-size: 578px;
}
.head-title--secondary {
  background-color: #f1f1f1;
}
.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.link-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 39px 13px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  border-top: 1px solid #e5e5e5;
}
.link-academy__icon {
  color: #63d1bb;
}
.link-logo {
  display: none;
}
.main-header {
  position: relative;
}
.main-header::after {
  content: "";
  position: absolute;
  top: 79px;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #ececec;
}
.main-navigation {
  position: relative;
  display: grid;
}
.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-navigation__logo {
  display: block;
  padding: 22px calc(50% - 130px);
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.main-navigation__image {
  margin: 0 auto;
}
.main-navigation__toggle {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 21px;
  height: 20px;
}
.main-navigation__toggle--nojs {
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-navigation__toggle--closed {
  top: 32px;
  right: 31px;
  width: 20px;
  height: 14px;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-navigation__toggle--opened {
  top: 29px;
  right: 30px;
  width: 21px;
  height: 20px;
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-navigation__link {
  display: none;
  color: #444444;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
.modal__inner {
  margin: auto;
  padding: 30px;
  width: 320px;
  height: 336px;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  box-sizing: border-box;
}
.modal__title {
  margin: 0 0 14px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.modal__text {
  margin: 0 0 21px;
  line-height: 30px;
  color: #444444;
}
.modal__button {
  width: 260px;
}
.order {
  margin: 0;
  padding: 16px calc(50% - 130px) 55px;
  box-sizing: border-box;
}
.overview {
  margin: 0 auto;
  padding: 10px 30px 58px;
  width: 320px;
  box-sizing: border-box;
}
.page-error {
  position: relative;
  padding: 30px;
  background-color: #f9f9f9;
  text-align: center;
  box-sizing: border-box;
}
.page-error::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 24px;
  background-image: url("../img/icon/wave.svg");
  background-position: bottom left;
  background-repeat: repeat-x;
}
.page-error__container {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  box-sizing: border-box;
}
.page-error__title {
  margin: 0;
  padding: 40px 10px 10px;
  font-size: 50px;
  line-height: 30px;
  font-weight: 700;
}
.page-error__description {
  margin: 0;
  padding: 10px 10px 40px;
  color: #444444;
  text-transform: uppercase;
}
.page-footer {
  background-color: #f1f1f1;
  padding: 10px calc(50% - 130px);
  box-sizing: border-box;
}
.page-footer__link:hover .link-academy__icon {
  color: #46c1ae;
}
.page-footer__link:active .link-academy__icon {
  color: rgba(70, 193, 174, 0.3);
}
.page-list {
  position: relative;
}
.page-list__item {
  border-bottom: 1px solid #ececec;
}
.page-list__link {
  display: block;
  margin-right: 15px;
  padding: 27px calc(50% - 130px);
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
.page-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.parameter-list {
  display: grid;
  grid-template-columns: 97px 1fr;
}
.parameter-list__option {
  margin: 0;
  padding: 6px 0 13px;
  border-bottom: 1px solid #ececec;
}
.price-block {
  display: flex;
  padding: 22px 0 2px 0;
  border-top: 1px solid #ececec;
}
.price-block__link {
  margin-left: auto;
}
.price-block__link:hover .price-block__icon {
  color: #63d1bb;
}
.price-block__link:active .price-block__icon {
  color: rgba(99, 209, 187, 0.3);
}
.price-block__icon {
  color: rgba(0, 0, 0, 0.2);
}
.product-card {
  display: grid;
  gap: 5px;
  box-sizing: border-box;
}
.product-card__title {
  margin: 0 0 4px;
}
.product-card__text {
  margin: 0 0 11px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}
.product-card__description {
  margin: 0 0 18px;
  color: #444444;
}
.product-card__list {
  margin: 0 0 22px;
  line-height: 20px;
  color: #444444;
}
.product-card__image {
  margin: 0 0 21px;
}
.product-card__price {
  margin: 0 0 19px;
  font-size: 17px;
  color: #444444;
  text-align: center;
}
.product-card__button {
  padding: 15px 10px 13px;
  text-align: center;
}
.product-list {
  display: none;
  padding-left: 15px;
}
.product-list__link {
  display: block;
  padding: 20px 27px 20px 35px;
  font-weight: 700;
}
.product-overview {
  position: relative;
  padding: 20px 30px 32px 34px;
  border: 1px solid #ececec;
  box-sizing: border-box;
}
.product-overview:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.product-overview:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.product-overview__title {
  position: relative;
  margin: 0 0 26px;
  padding-left: 56px;
  font-size: 17px;
  font-weight: 700;
}
.product-overview__title::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 32px;
  height: 22px;
  background-color: #63d1bb;
  -webkit-mask-image: url("../img/sprite.svg#camera");
          mask-image: url("../img/sprite.svg#camera");
  -webkit-mask-size: 32px 22px;
          mask-size: 32px 22px;
}
.product-overview__video {
  position: relative;
  margin: 0 -30px 37px -34px;
  width: calc(100% + 64px);
}
.product-overview__button {
  position: absolute;
  top: 25%;
  left: 30%;
  padding: 0;
  width: 106px;
  height: 78px;
  background-color: inherit;
  background-image: url("../img/sprite.svg#play");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.product-overview__button:hover {
  top: 23%;
  left: 27%;
  width: 121px;
  height: 92px;
}
.product-overview__description {
  margin-bottom: 41px;
  padding: 0;
  font-size: 13px;
  color: #444444;
}
.product-overview__link {
  display: block;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
}
.reviews-list {
  display: grid;
  gap: 30px;
  margin: 0 0 38px;
  padding: 0;
  list-style-type: none;
}
.reviews-list__item {
  display: grid;
  color: #444444;
}
.reviews-list__description {
  margin: 0 0 34px;
  line-height: 30px;
}
.reviews-list__author {
  margin: 0 0 28px;
}
.reviews-list__name {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}
.reviews-list__link {
  display: block;
  padding: 2px 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}
.reviews-list__button {
  display: flex;
  border: 1px solid #ececec;
}
.reviews {
  position: relative;
  display: grid;
  padding: 17px calc(50% - 130px) 51px;
  box-sizing: border-box;
}
.reviews::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  background-image: url("../img/sprite.svg#zigzag-line");
  background-repeat: repeat-x;
  background-size: 320px;
}
.reviews__title {
  margin: 0 0 14px;
}
.reviews__link {
  grid-column: 1 / -1;
  display: block;
  padding: 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #444444;
}
.reviews__link:hover {
  color: #ffffff;
  background-color: #444444;
}
.reviews__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.second-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}
.select-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.select-form__name {
  position: relative;
  padding-top: 16px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}
.select-form__checker {
  -webkit-appearance: none;
          appearance: none;
  margin: -33px 0 0;
  padding: 16px 33px;
  width: 82px;
  height: 52px;
  color: inherit;
  text-align: center;
  border: 2px solid rgba(68, 68, 68, 0.1);
  outline-offset: inherit;
  box-sizing: border-box;
  cursor: pointer;
}
.select-form__checker:checked {
  border: 2px solid #63d1bb;
}
.social-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 17px 59px 25px;
  list-style-type: none;
}
.social-list__link:hover .social-list__icon {
  color: #46c1ae;
}
.social-list__link:active .social-list__icon {
  color: rgba(70, 193, 174, 0.3);
}
.user-list {
  position: relative;
}
.user-list__item {
  border-bottom: 1px solid #ececec;
}
.user-list__link {
  display: flex;
  align-items: center;
  padding: 27px calc(50% - 130px) 27px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.user-list__link:hover .user-list__text {
  color: rgba(0, 0, 0, 0.6);
}
.user-list__link:hover .user-list__icon {
  color: #63d1bb;
  opacity: 1;
}
.user-list__link--icon .user-list__icon {
  margin-right: 28px;
}
.user-list__icon {
  margin-right: 25px;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.week-product {
  position: relative;
  padding: 31px calc(50% - 130px) 42px;
  box-sizing: border-box;
}
.week-product::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  background-image: url("../img/sprite.svg#zigzag-line");
  background-repeat: repeat-x;
  background-size: 320px;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden {
  display: none;
}
@media (min-width: 768px) {
  .arrow::after {
    content: none;
  }
  .arrow {
    padding-left: 0;
    padding-right: 37px;
  }
  .about {
    gap: 0;
    padding: 55px calc(50% - 334px) 28px;
  }
  .about__title {
    margin-bottom: 40px;
  }
  .about__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 28px 0;
    margin-bottom: 30px;
  }
  .about__item--banknote {
    order: 3;
  }
  .about__item--heart {
    order: 5;
  }
  .about__item--tangle {
    order: 2;
  }
  .about__item--rocket {
    order: 4;
  }
  .about__item--packaging {
    order: 6;
  }
  .about__item {
    padding: 58px 20px 25px 0;
    font-size: 20px;
    line-height: 22px;
  }
  .card-product {
    gap: 52px;
  }
  .card-product__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
  }
  .card-product__link {
    min-height: 334px;
  }
  .card-product__image {
    width: 334px;
    height: 334px;
  }
  .card-product__purchase {
    display: flex;
    flex-direction: column;
    padding: 26px 33px 24px;
  }
  .card-product__title {
    margin-bottom: 8px;
    font-size: 20px;
  }
  .card-product__info {
    font-size: 15px;
  }
  .catalog {
    padding: 68px 50px 30px;
    width: 768px;
  }
  .categories-list {
    grid-template-columns: repeat(2, 1fr);
    margin-right: auto;
    margin-left: auto;
    width: 668px;
  }
  .categories-list__item:nth-child(4n-1),
  .categories-list__item:nth-child(4n-2) {
    background-color: #56c3b2;
  }
  .categories-list__item:nth-child(4n-1) .categories-list__link,
  .categories-list__item:nth-child(4n-2) .categories-list__link {
    background-color: #56c3b2;
  }
  .categories-list__item:nth-child(4n-1):hover,
  .categories-list__item:nth-child(4n-2):hover,
  .categories-list__item:nth-child(4n-1):active,
  .categories-list__item:nth-child(4n-2):active {
    background-color: #46c1ae;
  }
  .categories-list__link {
    padding: 25px 33px 28px 36px;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }
  .categories-list__text {
    font-size: 20px;
    line-height: 30px;
  }
  .categories-list__icon {
    padding-top: 5px;
  }
  .contacts {
    padding: 38px calc(50% - 334px) 57px;
  }
  .contacts__title::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 3px;
    width: 47px;
    height: 81px;
    background-image: url("../img/sprite.svg#flag");
    background-repeat: no-repeat;
  }
  .contacts__title {
    margin: 0 0 49px;
    padding-top: 30px;
  }
  .contacts__map {
    margin-right: -50px;
    margin-left: -50px;
    margin-bottom: 55px;
    width: calc(100% + 100px);
    height: 457px;
  }
  .contacts__button {
    width: 230px;
    margin: 0 auto;
    font-size: 17px;
  }
  .contact-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 39px;
  }
  .contact-list__block {
    margin-bottom: 10px;
    font-size: 17px;
  }
  .contact-list__meaning {
    margin-left: 25px;
  }
  .form-block {
    grid-template-columns: 150px 1fr;
    gap: 24px 20px;
    padding: 50px calc(50% - 334px);
  }
  .form-block--radio .form-block__name {
    margin-top: 17px;
    margin-bottom: 17px;
  }
  .form-block--radio {
    row-gap: 27px;
    margin-bottom: 0;
  }
  .form-block--checkbox .form-block__name {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin-top: 17px;
  }
  .form-block--checkbox .form-block__label {
    grid-column: auto;
  }
  .form-block--checkbox {
    grid-template-columns: 147px 1fr 1fr;
    margin-bottom: 0;
  }
  .form-block--name .form-block__name {
    margin-top: 19px;
    margin-bottom: 12px;
  }
  .form-block--name {
    grid-template-columns: 145px 1fr;
    row-gap: 24px;
    margin-bottom: 0;
  }
  .form-block--phone .form-block__name {
    margin-top: 14px;
    margin-bottom: 0;
  }
  .form-block--phone .form-block__control {
    padding: 14px 17px 18px;
  }
  .form-block--phone .form-block__icon:hover {
    width: 90px;
  }
  .form-block--phone {
    grid-template-columns: 147px 1fr;
    margin-bottom: 0;
    padding: 50px calc(50% - 334px) 12px;
  }
  .form-block--email .form-block__name {
    margin-top: 17px;
    margin-bottom: 0;
  }
  .form-block--email .form-block__control {
    padding: 14px 17px 18px;
  }
  .form-block--email .form-block__icon {
    width: 90px;
  }
  .form-block--email {
    grid-template-columns: 147px 1fr;
    padding: 12px calc(50% - 334px) 50px;
    margin-bottom: 0;
  }
  .form-block--textarea {
    grid-template-columns: 147px 1fr;
    margin-bottom: 0;
  }
  .form-block--textarea .form-block__name {
    margin-top: 19px;
    margin-bottom: 0;
    padding: 0;
  }
  .form-block__name {
    float: left;
  }
  .form-block__name::after {
    content: none;
  }
  .form-block__icon {
    width: 60px;
  }
  .form-block__icon {
    width: 38px;
  }
  .form-block__label {
    font-size: 19px;
    line-height: 18px;
  }
  .form-block__label--control .form-block__control {
    margin-left: 28px;
  }
  .form-block__label--control {
    flex-direction: row;
    align-items: center;
  }
  .form-block__label {
    grid-column: 2 / -1;
  }
  .form-block__checker[type="radio"]::after {
    width: 23px;
  }
  .form-block__checker[type="radio"] {
    width: 50px;
    height: 50px;
    margin-right: 25px;
  }
  .form-block__checker[type="radio"] {
    margin-right: 28px;
  }
  .form-block__checker[type="checkbox"] {
    width: 52px;
    height: 52px;
    margin-right: 29px;
  }
  .form-block__checker[type="checkbox"]::after {
    width: 32px;
  }
  .form-block__control {
    padding: 16px 17px;
  }
  .form-block__control::placeholder {
    font-size: 19px;
    line-height: 18px;
  }
  .form .form__block:nth-child(2n+1) {
    background-color: #f1f1f1;
  }
  .form {
    grid-template-columns: 230px 1fr;
  }
  .form__text {
    grid-column: 1 / -1;
    margin-bottom: 14px;
    padding: 0 calc(50% - 284px) 0 calc(50% - 334px);
    font-size: 17px;
    line-height: 30px;
  }
  .form__block {
    grid-column: 1 / -1;
  }
  .form__footer {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(50% - 334px);
  }
  .form__footnote {
    order: 2;
    margin: 0;
    font-size: 17px;
    text-align: right;
  }
  .form__button {
    width: 230px;
    padding: 17px;
    line-height: 16px;
  }
  .head-title {
    font-size: 43px;
    line-height: 50px;
  }
  .head-title--main {
    min-height: 441px;
    padding: 155px 30px 31px;
    background-position: center bottom -131px;
    background-size: 1150px;
  }
  .head-title--secondary::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 23px;
    background-image: url("../img/sprite.svg#wave");
    background-repeat: repeat-x;
    background-size: 770px;
  }
  .head-title--secondary {
    position: relative;
    min-height: 60px;
    padding-top: 101px;
    margin-top: -65px;
  }
  .hero {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0 50px;
    background-color: #f9f9f9;
  }
  .hero::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    height: 24px;
    background-image: url("../img/sprite.svg#wave");
    background-repeat: repeat-x;
    background-size: 770px;
  }
  .link-academy {
    padding: 0;
    border-top: none;
  }
  .link-academy__icon {
    margin-left: 28px;
  }
  .link-logo:hover .link-logo__logo {
    color: #46c1ae;
  }
  .link-logo:active .link-logo__logo {
    color: rgba(70, 193, 174, 0.3);
  }
  .link-logo {
    display: block;
  }
  .main-container {
    margin-top: -65px;
  }
  .main-header::after {
    top: 87px;
  }
  .main-navigation {
    grid-template-columns: 1fr auto 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    box-sizing: border-box;
  }
  .main-navigation__logo {
    grid-column: 1 / 3;
    padding: 21px 20px 21px 50px;
    border-bottom: none;
  }
  .main-navigation__image {
    width: 113px;
    height: 46px;
    margin: 0;
  }
  .main-navigation__toggle {
    display: none;
  }
  .main-navigation__link {
    grid-column: 3 / -1;
    display: block;
    padding: 20px 50px;
    text-align: right;
    z-index: 1;
  }
  .modal__inner {
    padding: 37px 92px 46px;
    width: 566px;
    border: 1px solid #c6c6c6;
  }
  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }
  .modal__text {
    font-size: 17px;
  }
  .modal__button {
    width: 350px;
    font-size: 17px;
    line-height: 16px;
  }
  .order {
    margin: 0;
    padding: 55px 0 50px;
  }
  .overview {
    padding: 22px 50px 64px;
    width: 768px;
  }
  .page-error {
    margin-top: -65px;
    padding: 95px 50px 50px;
  }
  .page-error::after {
    content: none;
  }
  .page-error__container {
    width: 668px;
    height: 457px;
    background-image: url("../img/bg-review.jpg");
    background-position: top left;
    background-repeat: no-repeat;
  }
  .page-error__title {
    margin-left: 400px;
    padding-top: 130px;
    font-size: 60px;
    color: #63d1bb;
  }
  .page-error__description {
    margin-left: 400px;
    font-size: 20px;
  }
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px calc(50% - 334px) 56px;
  }
  .page-list {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    min-width: 370px;
    box-sizing: border-box;
    z-index: 1;
  }
  .page-list__item {
    border-bottom: none;
  }
  .page-list__link {
    margin-right: 0;
    padding: 21px 16px 20px 20px;
    font-size: 15px;
  }
  .price-block {
    margin-top: auto;
  }
  .price-block__price {
    font-size: 17px;
  }
  .product-card {
    grid-template-columns: 292px 334px;
    column-gap: 41px;
    width: 668px;
  }
  .product-card__block {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }
  .product-card__title {
    margin-bottom: 33px;
  }
  .product-card__text {
    padding: 7px 12px;
    width: 100px;
    line-height: 17px;
    text-align: center;
  }
  .product-card__description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }
  .product-card__list {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: 52px;
  }
  .product-card__picture {
    grid-column: 2 / -1;
    grid-row: 2 / 6;
    align-self: end;
  }
  .product-card__image {
    width: 334px;
    height: 404px;
    margin: 0;
  }
  .product-card__price {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-bottom: 28px;
    font-size: 20px;
  }
  .product-card__button {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .product-overview {
    display: grid;
    padding: 0 40px 45px 40px;
  }
  .product-overview__title::before {
    top: -2px;
  }
  .product-overview__title {
    margin-bottom: 24px;
    padding-left: 66px;
    font-size: 20px;
  }
  .product-overview__video {
    grid-row: 1 / 2;
    margin: 0 -40px 39px -40px;
    width: calc(100% + 80px);
    min-height: 455px;
  }
  .product-overview__review {
    width: 668px;
    height: 455px;
  }
  .product-overview__button:hover {
    top: 39%;
    left: 41%;
  }
  .product-overview__button {
    top: 41%;
    left: 42%;
  }
  .product-overview__description {
    margin: 0 0 41px;
    font-size: 15px;
    line-height: 30px;
  }
  .product-overview__link {
    font-size: 17px;
    box-sizing: border-box;
  }
  .reviews-list {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    margin: 0;
  }
  .reviews-list__item {
    grid-template-columns: 1fr 156px;
    gap: 30px;
  }
  .reviews-list__description {
    grid-column: 1 / -1;
    font-size: 17px;
    margin-bottom: 32px;
  }
  .reviews-list__author {
    margin: 0;
  }
  .reviews-list__name {
    font-size: 18px;
  }
  .reviews-list__link {
    font-size: 17px;
  }
  .reviews-list__button {
    grid-column: 2 / -1;
    border: none;
  }
  .reviews::after {
    height: 17px;
    background-size: 772px;
  }
  .reviews {
    grid-template-columns: 1fr 175px;
    gap: 38px 0;
    padding: 78px calc(50% - 334px) 131px;
    background-image: url("../img/bg-review.jpg");
    background-repeat: no-repeat;
    background-position: top left calc(50% - 209px);
    background-size: 350px;
  }
  .reviews__title {
    margin: 0;
    padding-top: 3px;
  }
  .reviews__link {
    grid-column: 2 / -1;
    align-self: baseline;
    font-size: 17px;
  }
  .second-title {
    font-size: 43px;
    line-height: 50px;
  }
  .select-form {
    padding: 0 16px;
  }
  .select-form__checker {
    padding: 16px 44px;
    width: 112px;
  }
  .social-list {
    padding: 0;
    width: 142px;
  }
  .user-list {
    grid-column: 3 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 400px;
    padding-right: 25px;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
  }
  .user-list__item {
    border-left: 1px solid #ececec;
    border-bottom: none;
  }
  .user-list__link {
    padding: 32px 25px 31px 31px;
  }
  .user-list__link--icon {
    padding: 35px 32px 33px 34px;
  }
  .user-list__link--icon .user-list__icon {
    margin-right: 0;
  }
  .user-list__link--icon .user-list__text {
    display: none;
  }
  .user-list__icon {
    margin-right: 31px;
  }
  .week-product::after {
    left: -2px;
    height: 17px;
    background-size: 772px;
  }
  .week-product {
    padding: 52px calc(50% - 334px) 69px;
  }
  .no-tablet-desktop {
    display: none;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../img/bg-review@2x.jpg");
  }
}
@media (min-width: 1150px) {
  .about {
    padding: 68px calc(50% - 525px) 34px;
  }
  .about__title {
    margin-left: 0;
    margin-bottom: 37px;
    padding-left: 175px;
  }
  .about__list {
    padding: 0 175px;
  }
  .card-product {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
  .card-product__item {
    display: block;
  }
  .card-product__link {
    min-height: 460px;
  }
  .card-product__image {
    width: 316px;
    height: 462px;
  }
  .card-product__purchase {
    padding: 27px 27px 26px;
    min-height: 198px;
  }
  .card-product__title {
    margin-bottom: 5px;
  }
  .card-product__info {
    margin-bottom: 0;
  }
  .catalog {
    padding-top: 111px;
    width: 1150px;
  }
  .categories-list {
    width: 1050px;
  }
  .contacts {
    grid-template-columns: 1fr 526px;
    padding: 70px calc(50% - 525px) 106px;
  }
  .contacts__title::after {
    top: 63px;
    left: 63px;
  }
  .contacts__title {
    grid-column: 1 / 2;
    margin-bottom: 13px;
    padding: 80px 10px 0 175px;
  }
  .contacts__map {
    grid-column: 2 / -1;
    grid-row: 1 / 4;
    margin: 0 0 22px;
    width: 527px;
    margin-bottom: 0;
  }
  .contacts__button {
    grid-column: 1 / 2;
    margin-top: auto;
    margin-left: 175px;
  }
  .contact-list {
    grid-template-columns: 1fr;
    grid-column: 1 / 2;
    gap: 5px;
    padding-left: 175px;
  }
  .contact-list__link {
    padding-bottom: 4px;
  }
  .form-block {
    grid-template-columns: 150px 702px;
    gap: 25px;
    padding: 50px calc(50% - 525px);
  }
  .form-block--radio .form-block__name {
    margin-left: 59px;
  }
  .form-block--checkbox .form-block__name {
    margin-left: 59px;
  }
  .form-block--checkbox {
    grid-template-columns: 150px repeat(3, 238px);
    padding: 50px calc(50% - 525px) 25px;
  }
  .form-block--name .form-block__name {
    margin-left: 59px;
  }
  .form-block--name {
    grid-template-columns: 159px 702px;
    column-gap: 18px;
    row-gap: 24px;
    padding: 50px calc(50% - 525px);
  }
  .form-block--phone .form-block__icon:hover {
    width: 35px;
  }
  .form-block--phone {
    grid-template-columns: 157px 702px;
    gap: 15px;
    padding: 50px calc(50% - 525px) 12px;
  }
  .form-block--email .form-block__name {
    margin-left: 59px;
  }
  .form-block--email .form-block__icon {
    width: 36px;
  }
  .form-block--email {
    grid-template-columns: 159px 702px;
    gap: 15px;
    padding: 12px calc(50% - 525px) 50px;
  }
  .form-block--textarea {
    grid-template-columns: 159px 702px;
    gap: 15px;
    padding-bottom: 49px;
  }
  .form-block--textarea .form-block__name {
    margin-left: 59px;
  }
  .form-block__name {
    margin: 0 auto;
  }
  .form__text {
    margin-bottom: 15px;
    padding: 0 calc(50% - 337px) 0 calc(50% - 350px);
  }
  .form__footer {
    width: 702px;
    padding: 0 calc(50% - 350px);
  }
  .form__footnote {
    grid-column: 3 / -1;
  }
  .form__button {
    padding: 15px;
  }
  .head-title {
    font-size: 53px;
    line-height: 57px;
  }
  .head-title--main {
    min-height: 438px;
    padding-top: 157px;
    background-position: center bottom -119px;
  }
  .head-title--secondary::after {
    height: 34px;
    background-size: 1150px;
  }
  .head-title--secondary {
    min-height: 90px;
    padding-bottom: 81px;
  }
  .hero {
    margin-bottom: 10px;
    padding-right: 50px;
  }
  .hero::after {
    bottom: -20px;
    left: 12px;
    height: 37px;
    background-size: 1250px;
  }
  .main-container {
    margin-top: -63px;
  }
  .main-navigation {
    width: 1150px;
  }
  .main-navigation__logo {
    grid-column: 2 / 3;
    padding: 8px 20px 6px;
    width: 230px;
  }
  .main-navigation__image {
    padding-left: 20px;
    width: 149px;
    height: 72px;
  }
  .order {
    padding: 98px 0 51px;
  }
  .overview {
    padding-top: 25px;
    padding-bottom: 103px;
    width: 1150px;
  }
  .page-footer {
    padding: 50px calc(50% - 525px) 56px;
  }
  .page-list {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding-left: 15px;
    width: 460px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
  .page-list__item:not(:last-child) {
    border-right: 1px solid #ececec;
  }
  .page-list__link {
    font-size: 17px;
    padding: 32px 35px 20px;
  }
  .price-block {
    padding: 23px 0 0 0;
  }
  .price-block__link {
    margin-right: 5px;
  }
  .product-card {
    grid-template-columns: 119px 294px 525px;
    gap: 20px 56px;
    width: 1050px;
  }
  .product-card__block {
    grid-row: 1 / 2;
    justify-content: start;
    z-index: 1;
  }
  .product-card__title {
    order: 2;
    margin-bottom: 15px;
    padding: 61px 33px 0;
    z-index: 1;
  }
  .product-card__text {
    width: 120px;
    padding: 69px 0 0 22px;
  }
  .product-card__description {
    grid-column: 2 / 3;
  }
  .product-card__list {
    grid-column: 2 / 3;
    margin-bottom: 89px;
  }
  .product-card__picture {
    grid-column: 3 / -1;
    grid-row: 1 / 6;
  }
  .product-card__image {
    width: 525px;
    height: 636px;
  }
  .product-card__price {
    grid-column: 2 / 3;
    margin-bottom: 13px;
  }
  .product-card__button {
    grid-column: 2 / 3;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }
  .product-overview {
    grid-template-columns: 683px 1fr;
    padding: 0;
  }
  .product-overview__title::before {
    top: 46px;
    left: 20px;
  }
  .product-overview__title {
    width: 250px;
    margin: 0 auto 23px;
    padding: 95px 20px 5px;
    box-sizing: border-box;
  }
  .product-overview__video {
    grid-row: 1 / 5;
    margin: 0;
    width: 100%;
  }
  .product-overview__review {
    width: 683px;
  }
  .product-overview__description {
    width: 260px;
    margin: 0 auto 51px;
    padding: 0 10px 0 25px;
    box-sizing: border-box;
  }
  .product-overview__link {
    width: 230px;
    margin-left: 80px;
  }
  .reviews-list {
    padding-left: 174px;
  }
  .reviews-list__description {
    margin-bottom: 14px;
    padding-right: 70px;
  }
  .reviews-list__name {
    font-size: 17px;
  }
  .reviews::after {
    right: 50px;
    left: 50px;
    height: 23px;
    background-size: 1050px;
  }
  .reviews {
    gap: 34px 0;
    padding: 79px calc(50% - 525px) 184px;
    background-position: top left calc(50% - 350px);
  }
  .reviews__title {
    padding-top: 0;
    padding-left: 174px;
  }
  .reviews__link {
    margin-right: 0;
  }
  .second-title {
    font-size: 53px;
    line-height: 57px;
  }
  .user-list {
    padding-right: 12px;
    width: 412px;
  }
  .user-list__link {
    padding: 32px 32px 31px;
  }
  .user-list__link--icon {
    padding: 35px 32px 33px 34px;
  }
  .week-product::after {
    right: 50px;
    left: 50px;
    height: 23px;
    background-size: 1050px;
  }
  .week-product {
    padding: 61px calc(50% - 525px) 96px;
  }
}
@media (max-width: 767px) {
  .categories-list__item:nth-child(2n) {
    background-color: #56c3b2;
  }
  .categories-list__item:nth-child(2n) .categories-list__link {
    background-color: #56c3b2;
  }
  .categories-list__item:nth-child(2n):hover,
  .categories-list__item:nth-child(2n):active {
    background-color: #46c1ae;
  }
  .main-navigation {
    position: absolute;
    width: 100%;
  }
  .page-list--closed {
    display: none;
  }
  .page-list--opened {
    left: 0;
    background-color: #ffffff;
  }
  .page__main {
    margin-top: 80px;
  }
  .user-list--closed {
    display: none;
  }
  .user-list--opened {
    left: 0;
    background-color: #ffffff;
  }
}
@media (min-resolution: 2dppx) {
  .head-title--main {
    background-image: url("../img/bg-main@2x.jpg");
  }
}
/*# sourceMappingURL=style.css.map */
