.about {
  display: grid;
  gap: 25px;
  padding: 37px 30px 15px;

  @media (min-width: 768px) {
    gap: 38px;
    padding: 41px 50px;
  }

  @media (min-width: 1150px) {
    padding: 37px 225px;
  }
}

.about__title {
  margin-bottom: 28px;
}

.about__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 0;
  }
}

.about__item {
  padding: 76px 10px 0 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 22px;
  }
}
