.arrow {
  position: relative;
  padding: 12px 43px 9px 37px;
  background-color: inherit;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 37px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: -1px;
    width: 1px;
    height: 50px;
    background-color: #ececec;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 768px) {
      content: none;
    }
  }
}
