.card-product {
  display: grid;
  gap: 29px;

  @media (min-width: 768px) {
    gap: 52px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}

.card-product__item {
  border: 1px solid #ececec;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
  }

  @media (min-width: 1150px) {
    display: block;
  }
}

.card-product__link {
  display: block;

  @media (min-width: 768px) {
    min-height: 334px;
  }

  @media (min-width: 1150px) {
    min-height: 460px;
  }
}

.card-product__image {
  @media (min-width: 768px) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: 1150px) {
    width: 316px;
    height: 462px;
  }
}

.card-product__purchase {
  padding: 28px 28px 24px;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);

    .card-product__title {
      color: rgba(0, 0, 0, 0.6);
    }

    .price-block__icon {
      color: @color-green;
    }
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

    .card-product__title {
      color: rgba(0, 0, 0, 0.3);
    }

    .price-block__icon {
      color: rgba(99, 209, 187, 0.3);
    }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 26px 33px 24px;
  }

  @media (min-width: 1150px) {
    padding: 27px 27px 26px;
    min-height: 198px;
  }
}

.card-product__title {
  margin: 0 0 6px;
  font-size: 17px;

  @media (min-width: 768px) {
    margin-bottom: 8px;
    font-size: 20px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 5px;
  }
}

.card-product__info {
  margin: 0 0 18px;
  font-size: 13px;
  line-height: 30px;
  color: @color-grey;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 0;
  }
}
