.card-product {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-product__item {
  margin-bottom: 30px;
}

.card-product__purchase {
  padding: 27px;
  border: 1px solid #ececec;
}

.card-product__title {
  margin: 0 0 6px;
}

.card-product__info {
  margin: 0 0 17px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
