.catalog {
  margin: 0 auto;
  padding: 29px 30px 20px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 68px 50px 30px;
    width: 768px;
  }

  @media (min-width: 1150px) {
    padding-top: 111px;
    width: 1150px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
