.categories-list {
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.categories-list__item:nth-child(2n) {
  .categories-list__link {
    background-color: #56c3b2;
  }
}

.categories-list__link {
  display: block;
  padding: 25px 30px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  background-color: #63d1bb;
  color: #ffffff;

  @media (min-width: 768px) {
    padding: 25px 36px 34px;
    font-size: 20px;
    line-height: 30px;
  }
}
