.categories-list {
  display: grid;
  box-sizing: border-box;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    margin-right: auto;
    margin-left: auto;
    width: 668px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
  }
}

.categories-list__item--alter() {
  background-color: #56c3b2;

  .categories-list__link {
    background-color: #56c3b2;
  }

  &:hover,
  &:active {
    background-color: @color-green-darker;
  }
}

.categories-list__item {
  background-color: @color-green;

  @media (max-width: 767px) {
    &:nth-child(2n) {
      .categories-list__item--alter();
    }
  }

  @media (min-width: 768px) {
    &:nth-child(4n-1),
    &:nth-child(4n-2) {
      .categories-list__item--alter();
    }
  }
}

.categories-list__link {
  position: relative;
  display: flex;
  padding: 24px @padding-mobile 19px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  background-color: @color-green;
  color: #ffffff;
  box-sizing: border-box;

  &:hover {
    top: -5px;

    .categories-list__icon {
      color: rgba(20, 144, 128, 0.7);
    }
  }

  &:active {
    .categories-list__icon {
      color: rgba(20, 144, 128, 0.3);
    }
  }

  @media (min-width: 768px) {
    padding: 25px 33px 28px 36px;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }
}

.categories-list__text {
  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.categories-list__icon {
  margin-left: auto;
  margin-right: -4px;
  width: 62px;
  height: 60px;
  color: #149080;

  @media (min-width: 768px) {
    padding-top: 5px;
  }
}
