.contacts {
  display: grid;
  padding: 38px @padding-mobile 39px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 38px @padding-tablet 57px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 1fr 526px;
    padding: 70px @padding-desktop 106px;
  }
}

.contacts__title {
  position: relative;
  margin: 0 0 27px;

  &::after {
    @media (min-width: 768px) {
      content: "";
      position: absolute;
      top: 8px;
      right: 3px;
      width: 47px;
      height: 81px;
      background-image: url("@{bg-images}/sprite.svg#flag");
      background-repeat: no-repeat;
    }

    @media (min-width: 1150px) {
      top: 63px;
      left: 63px;
    }
  }

  @media (min-width: 768px) {
    margin: 0 0 49px;
    padding-top: 30px;
  }

  @media (min-width: 1150px) {
    grid-column: 1 / 2;
    margin-bottom: 13px;
    padding: 80px 10px 0 175px;
  }
}

.contacts__map {
  margin-right: -30px;
  margin-bottom: 42px;
  margin-left: -30px;
  width: calc(100% + 60px);
  height: 454px;
  background-image: url("@{bg-images}/map.png");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: 768px) {
    margin-right: -50px;
    margin-left: -50px;
    margin-bottom: 55px;
    width: calc(100% + 100px);
    height: 457px;
  }

  @media (min-width: 1150px) {
    grid-column: 2 / -1;
    grid-row: 1 / 4;
    margin: 0 0 22px;
    width: 527px;
    margin-bottom: 0;
  }
}

.contacts__map iframe {
  display: block;
  border: none;

  @media (min-width: 320px) {
    width: 320px;
  }

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1150px) {
    width: 527px;
  }
}

.contacts__button {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: 768px) {
    width: 230px;
    margin: 0 auto;
    font-size: 17px;
  }

  @media (min-width: 1150px) {
    grid-column: 1 / 2;
    margin-top: auto;
    margin-left: 175px;
  }
}
