.form-block {
  position: relative;
  display: grid;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: 768px) {
    grid-template-columns: 150px 1fr;
    gap: 24px 20px;
    padding: 50px @padding-tablet;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 150px 702px;
    gap: 25px;
    padding: 50px @padding-desktop;
  }

  &--radio {
    row-gap: 11px;
    margin-bottom: 32px;

    .form-block__name {
      margin-bottom: 33px;

      @media (min-width: 768px) {
        margin-top: 17px;
        margin-bottom: 17px;
      }

      @media (min-width: 1150px) {
        margin-left: 59px;
      }
    }

    @media (min-width: 768px) {
      row-gap: 27px;
      margin-bottom: 0;
    }
  }

  &--checkbox {
    row-gap: 23px;
    margin-bottom: 33px;

    .form-block__name {
      margin-bottom: 25px;

      @media (min-width: 768px) {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        margin-top: 17px;
      }

      @media (min-width: 1150px) {
        margin-left: 59px;
      }
    }

    .form-block__label {
      @media (min-width: 768px) {
        grid-column: auto;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 147px 1fr 1fr;
      margin-bottom: 0;
    }

    @media (min-width: 1150px) {
      grid-template-columns: 150px repeat(3, 238px);
      padding: 50px @padding-desktop 25px;
    }
  }

  &--name {
    gap: 22px;
    margin-bottom: 33px;

    .form-block__name {
      margin-bottom: 29px;

      @media (min-width: 768px) {
        margin-top: 19px;
        margin-bottom: 12px;
      }

      @media (min-width: 1150px) {
        margin-left: 59px;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 145px 1fr;
      row-gap: 24px;
      margin-bottom: 0;
    }

    @media (min-width: 1150px) {
      grid-template-columns: 159px 702px;
      column-gap: 18px;
      row-gap: 24px;
      padding: 50px @padding-desktop;
    }
  }

  &--phone {
    margin-bottom: 34px;

    .form-block__name {
      margin-bottom: 5px;

      @media (min-width: 768px) {
        margin-top: 16px;
        margin-bottom: 0;
      }
    }

    .form-block__control {
      background-color: inherit;
      border-bottom: none;
      box-sizing: border-box;

      @media (min-width: 768px) {
        padding: 10px 18px 14px;
      }
    }

    .form-block__icon:hover {
      color: @color-green-lighter;

      @media (min-width: 768px) {
        width: 90px;
      }

      @media (min-width: 1150px) {
        width: 35px;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 147px 1fr;
      margin-bottom: 0;
      padding: 50px @padding-tablet 12px;
    }

    @media (min-width: 1150px) {
      grid-template-columns: 157px 702px;
      gap: 17px;
      padding: 50px @padding-desktop 12px;
    }
  }

  &--email {
    margin-bottom: 35px;

    .form-block__name {
      margin-bottom: 5px;

      @media (min-width: 768px) {
        margin-top: 17px;
        margin-bottom: 0;
      }

      @media (min-width: 1150px) {
        margin-left: 62px;
      }
    }

    .form-block__name::after {
      left: 78px;
      width: 182px;
    }

    .form-block__control {
      border-bottom: none;
      box-sizing: border-box;

      @media (min-width: 768px) {
        padding: 11px 17px 13px;
      }
    }

    .form-block__icon {
      @media (min-width: 768px) {
        width: 90px;
      }

      @media (min-width: 1150px) {
        width: 44px;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 147px 1fr;
      padding: 12px @padding-tablet 50px;
      margin-bottom: 0;
    }

    @media (min-width: 1150px) {
      grid-template-columns: 159px 700px;
      gap: 16px;
      padding: 12px @padding-desktop 50px;
    }
  }

  &--textarea {
    margin-bottom: 17px;

    .form-block__name {
      padding: 0;
      margin-bottom: 21px;
    }

    .form-block__control {
      margin-bottom: 0;
      padding: 15px 15px;
      min-height: 142px;
      border: 2px solid @color-grey;
      box-sizing: border-box;
    }

    @media (min-width: 768px) {
      grid-template-columns: 147px 1fr;
      margin-bottom: 0;

      .form-block__name {
        margin-top: 19px;
        margin-bottom: 0;
        padding: 0;
      }
    }

    @media (min-width: 1150px) {
      grid-template-columns: 159px 702px;
      gap: 15px;
      padding-bottom: 49px;

      .form-block__name {
        margin-left: 62px;
      }
    }
  }
}

.form-block__name {
  position: relative;
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: @color-green;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 60px;
    width: 200px;
    right: 0;
    height: 1px;
    background-color: @color-green-lighter;
  }

  @media (min-width: 768px) {
    float: left;

    &::after {
      content: none;
    }
  }

  @media (min-width: 1150px) {
    margin: 0 auto;
  }
}

.form-block__block {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000000;

  &:hover {
    border-color: @color-green-lighter;

    .form-block__icon {
      color: @color-green-lighter;
    }
  }
}

.form-block__icon {
  align-self: center;
  width: 40px;

  @media (min-width: 768px) {
    width: 90px;
  }

  @media (min-width: 1150px) {
    width: 45px;
  }
}

.form-block__label {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 19px;
    line-height: 18px;
  }

  &--control {
    flex-direction: column;
    align-items: flex-start;

    .form-block__control {
      @media (min-width: 768px) {
        margin-left: 25px;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }

  @media (min-width: 768px) {
    grid-column: 2 / -1;
  }
}

.form-block__checker {
  position: relative;
  flex-shrink: 0;
  margin: 0 20px 0 0;
  color: inherit;
  border: 2px solid @color-grey;
  appearance: none;

  &:hover {
    border-color: @color-green-lighter;
  }

  &:active {
    border-color: rgba(0, 0, 0, 0.3);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: inherit;
    transition: opacity 0.2s ease-in-out;
  }

  &::before {
    background-color: #ffffff;
  }

  &::after {
    background-color: @color-green-lighter;
    mask-position: center;
    mask-repeat: no-repeat;
    opacity: 0;
  }

  &:checked::after {
    opacity: 1;
  }

  &[type="radio"] {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    &::after {
      width: 17px;
      .mask(point);

      @media (min-width: 768px) {
        width: 23px;
      }
    }

    @media (min-width: 768px) {
      width: 50px;
      height: 50px;
      margin-right: 25px;
    }

    @media (min-width: 768px) {
      margin-right: 28px;
    }
  }

  &[type="checkbox"] {
    width: 38px;
    height: 38px;
    margin-right: 23px;

    @media (min-width: 768px) {
      width: 52px;
      height: 52px;
      margin-right: 29px;
    }

    &::after {
      width: 24px;
      background-color: #000000;
      .mask(tick);

      @media (min-width: 768px) {
        width: 32px;
      }
    }
  }
}

.form-block__control {
  width: 100%;
  padding: 12px 0;
  font-family: inherit;
  font-size: 19px;
  line-height: 18px;
  background-color: inherit;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;

  &:hover {
    border-color: @color-green-lighter;
  }

  &:active {
    border-color: @color-green-lighter;
  }

  &:focus-visible {
    border-color: @color-green-lighter;
    outline: none;
  }

  @media (min-width: 768px) {
    padding: 12px 17px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
}
