.form {
  display: grid;

  .form__block {
    &:nth-child(2n+1) {
      @media (min-width: 768px) {
        background-color: #f1f1f1;
      }
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 230px 1fr;
  }
}

.form__text {
  margin: 0 0 29px;
  font-size: 13px;
  color: @color-grey;

  @media (min-width: 768px) {
    grid-column: 1 / -1;
    margin-bottom: 14px;
    padding: 0 calc(50% - 284px) 0 calc(50% - 334px);
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 15px;
    padding: 0 calc(50% - 337px) 0 calc(50% - 350px);
  }
}

.form__block {
  @media (min-width: 768px) {
    grid-column: 1 / -1;
  }
}

.form__footer {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 @padding-tablet;
  }

  @media (min-width: 1150px) {
    width: 702px;
    padding: 0 calc(50% - 350px);
  }
}

.form__footnote {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 16px;
  color: @color-grey;

  @media (min-width: 768px) {
    order: 2;
    margin: 0;
    font-size: 17px;
    text-align: right;
  }

  @media (min-width: 1150px) {
    grid-column: 3 / -1;
  }
}

.form__button {
  padding: 14px;

  @media (min-width: 768px) {
    width: 230px;
    padding: 17px;
    line-height: 16px;
  }

  @media (min-width: 1150px) {
    padding: 15px;
  }
}
