.main-navigation {
  position: relative;
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-navigation__logo {
  display: block;
  padding: 21px 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  @media (min-width: 768px) {
    grid-column: 1 / 3;
    padding-left: 50px;
  }

  @media (min-width: 1150px) {
    grid-column: 2 / 3;
  }
}

.main-navigation__image {
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1150px) {
    margin: 0 auto;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: 20px;
  right: 0;
  width: 20px;
  height: 14px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 31px;
    width: 20px;
    height: 14px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 768px) {
      content: "";
    }
  }

  @media (min-width: 768px), (min-width: 1150px) {
    display: none;
  }
}

.main-navigation__link {
  display: none;
  color: #444444;

  @media (min-width: 768px), (min-width: 1150px) {
    grid-column: 2 / -1;
    display: block;
    padding: 20px 50px;
    text-align: right;
  }
}
