.main-navigation {
  position: relative;
  display: grid;
}

.main-navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-navigation__logo {
  display: block;
  padding: 22px;
}

.main-navigation__image {
  margin: 0 auto;
}

.main-navigation__toggle {
  position: absolute;
  top: 20px;
  right: 0;
  width: 20px;
  height: 14px;
  border: none;

  &:hover {
    background-color: #ffffff;
  }

  &:hover + .main-navigation__list {
    position: absolute;
    top: 80px;
    left: 0;
    display: block;
    width: 320px;
    margin-left: -30px;
    padding: 0;
    background-color: #ffffff;
  }

  &:hover + .main-navigation__list + .main-navigation__list {
    position: absolute;
    top: 238px;
    left: 0;
    display: block;
    width: 320px;
    margin-left: -30px;
    padding: 0;
    background-color: #ffffff;
  }

  &::before {
    position: absolute;
    top: 10px;
    right: 0;
    width: 20px;
    height: 14px;
    background-image: url("../../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &:hover::before {
    content: none;
  }

  &:hover::after {
    position: absolute;
    top: 10px;
    right: 0;
    width: 20px;
    height: 14px;
    background-image: url("../../img/menu-close.svg.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }
}
