.main-container {
  background-color: #f9f9f9;
  background-image: url("../img/bg-main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 567px 350px;

  @media (min-width: 768px) {
    margin-top: -59px;
    background-size: 1150px 754px;
  }

  @media (min-width: 1150px) {
    margin-top: -70px;
  }
}

.main-container__section {
  background-color: #ffffff;
}
