.order {
  margin: 0 auto;
  padding: 17px 30px 55px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 55px 0 51px;
    width: 768px;
  }

  @media (min-width: 1150px) {
    padding: 98px 0 51px;
    width: 1150px;
  }
}
