.page-footer {
  background-color: #f1f1f1;
  padding: 10px calc(50% - 130px);
  box-sizing: border-box;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px calc(50% - 334px) 56px;
  }

  @media (min-width: 1150px) {
    padding: 50px calc(50% - 525px) 56px;
  }
}
