.product-overview {
  position: relative;
  padding: 34px;
  border: 1px solid #ececec;
  box-sizing: border-box;
}

.product-overview__title {
  margin: 0 0 26px;
  padding-left: 60px;
  font-size: 17px;
  font-weight: 700;
}

.product-overview__review {
  display: block;
  margin: 0 0 30px -34px;
}

.product-overview__description {
  margin-bottom: 40px;
  font-size: 13px;
  color: #444444;
}

.product-overview__link {
  display: block;
}
