.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reviews__title {
  grid-column: 1 / -1;
  margin-bottom: 14px;
}

.reviews__list {
  grid-column: 1 / -1;
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  color: #444444;
}

.reviews__description {
  margin: 0 0 33px;
  line-height: 30px;
}

.reviews__author {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.reviews__link {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
}

.reviews__button {
  margin-bottom: 38px;
  &--write {
    grid-column: 1 / -1;
  }
}
