.reviews {
  position: relative;
  display: grid;
  padding: 17px @padding-mobile 51px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    background-image: url("@{bg-images}/sprite.svg#zigzag-line");
    background-repeat: repeat-x;
    background-size: 320px;

    @media (min-width: 768px) {
      height: 17px;
      background-size: 772px;
    }

    @media (min-width: 1150px) {
      right: 50px;
      left: 50px;
      height: 23px;
      background-size: 1050px;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 175px;
    gap: 38px 0;
    padding: 78px @padding-tablet 131px;
    background-position: top left calc(50% - 209px);
    background-size: 350px;
    .background("bg-review");
  }

  @media (min-width: 1150px) {
    gap: 34px 0;
    padding: 79px @padding-desktop 184px;
    background-position: top left calc(50% - 350px);
  }
}

.reviews__title {
  margin: 0 0 14px;

  @media (min-width: 768px) {
    margin: 0;
    padding-top: 3px;
  }

  @media (min-width: 1150px) {
    padding-top: 0;
    padding-left: 174px;
  }
}

.reviews__link {
  grid-column: 1 / -1;
  display: block;
  padding: 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: @color-grey;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid @color-grey;

  &:hover {
    color: #ffffff;
    background-color: @color-grey;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 768px) {
    grid-column: 2 / -1;
    align-self: baseline;
    font-size: 17px;
  }

  @media (min-width: 1150px) {
    margin-right: 0;
  }
}
