.reviews {
  position: relative;
  display: grid;
  padding: 17px 30px 51px;
  margin-right: auto;
  margin-left: auto;
  width: 320px;
  box-sizing: border-box;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    background-image: url("../img/icon/zigzag-line.svg");
    background-repeat: repeat-x;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 195px;
    gap: 38px 0;
    padding-top: 78px;
    padding-bottom: 131px;
    width: 768px;
    background-image: url("../img/bg-review.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 350px 457px;

    &::after {
      height: 17px;
      background-image: url("../img/icon/zigzag-line-tablet.svg");
    }
  }

  @media (min-width: 1150px) {
    gap: 35px 0;
    padding-left: 205px;
    padding-bottom: 185px;
    width: 1150px;
    background-position: top left 50px;

    &::after {
      left: 50px;
      width: 1050px;
      height: 23px;
      background-image: url("../img/icon/zigzag-line-desktop.svg");
    }
  }
}

.reviews__title {
  margin: 0 0 15px;

  @media (min-width: 768px) {
    margin: 3px 0 0 20px;
  }

  @media (min-width: 1150px) {
    margin-top: 0;
  }
}

.reviews__link {
  display: block;
  padding: 3px 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;

  &--write {
    grid-column: 1 / -1;
    padding: 14px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #444444;
  }

  @media (min-width: 768px) {
    grid-column: 2 / -1;
    align-self: baseline;
    margin-right: 20px;
  }
}
