.select-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    padding: 0 16px;
  }
}

.select-form__name {
  position: relative;
  flex-shrink: 0;
  margin: 0;
  width: 82px;
  height: 52px;
  font-weight: 700;
  color: inherit;
  appearance: none;
  outline-offset: inherit;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 14px;
    border: 2px solid rgba(68, 68, 68, 0.1);
    background-color: #ffffff;
    transition: opacity 0.2s ease-in-out;

    @media (min-width: 768px) {
      font-size: 17px;
      line-height: 16px;
    }
  }

  &--small {
    &::before {
      content: "S";
    }
  }

  &--medium {
    &::before {
      content: "M";
    }
  }

  &--large {
    &::before {
      content: "L";
    }
  }

  @media (min-width: 768px) {
    width: 112px;
  }
}
