.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 17px 59px 25px;
  list-style-type: none;

  @media (min-width: 768px) {
    padding: 0;
    width: 142px;
  }
}
